.orderNumberBubble {
  background: var(--color-active);
  border-radius: 50px;
  padding: 1rem 0.5rem;
  margin: 3rem 6rem;
  font-size: 2.2rem;
  font-family: var(--font-bagel);
  font-weight: 800;
  color: var(--color-text);
  text-align: center;
  max-width: 400px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .orderNumberBubble {
    margin: 2rem auto;
    max-width: 70%;
  }
}
