.adminOrderDetailsPage {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

.orderDetails__backBtn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 1rem;
}

.orderDetails__content {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  margin-top: 1rem;
  gap: 1rem;
}

.orderDetails__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.orderDetails__label {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-text);
}

.orderDetails__label span {
  font-family: var(--font-roboto);
  font-weight: 400;
  margin-left: 0.5rem;
}

.orderDetails__right {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-text);
}

.orderDetails__itemsHeader {
  display: grid;
  grid-template-columns: 60px 1fr;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.orderDetails__itemRow {
  display: grid;
  grid-template-columns: 60px 1fr;
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  padding: 0.3rem 0;
}

@media (max-width: 640px) {
  .orderDetails__content {
    flex-direction: column;
  }

  .orderDetails__right {
    margin-top: 2rem;
  }

  .orderActions {
    flex-direction: column;
  }
}
