.container {
  width: 100%;
  max-width: 1200px;
  background: var(--color-container);
  border-radius: 0 40px 40px 40px;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  /* margin: 0 auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container__banner {
  height: 120px;
  background: var(--color-button);
  border-radius: 0 40px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__inner {
  padding: 2rem 3rem;
  background: var(--color-container);
}
