.menuContainer {
  width: 100%;
  max-width: 1100px;
  background: #f7f1e3;
  border-radius: 0 40px 40px 40px;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.menuContainer__banner {
  height: 120px;
  background: #3d5b36;
  border-radius: 0 40px 0 40px;
}

.menuContainer__inner {
  padding: 2rem 3rem;
}
