.container {
  position: relative;
  overflow: hidden;
}

.container--full {
  width: 100%;
  max-width: 90vw;
  background: #f7f1e3;
  border-radius: 0 40px 40px 40px;
  padding-bottom: 2rem;
}

.container--half {
  width: 50%;
  max-width: 50vw;
  height: auto;
  background: #f7f1e3;
  border-radius: 0 40px 0 40px;
}

.container__banner {
  height: 120px;
  background: var(--color-button);
  border-radius: 0 40px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__title {
  margin: 0;
  color: #F7F1E3;
  font-size: 45px;
  font-family: "Bagel Fat One", sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  line-height: 1;
  background-color: inherit;
}

.container__inner {
  padding: 2rem 3rem;
  background-color: #F7F1E3;
}
