.menuItem {
  display: flex;
  gap: 1rem;
  background: var(--color-container);
  border: 1px solid var(--color-text);
  padding: 1rem;
  margin-bottom: 1rem;
}

.menuItem__image {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.menuItem__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  background: var(--color-container);
}

.menuItem__leftCol {
  background: var(--color-container);
  margin-top: -4px;
  display: flex;
  flex-direction: column;
}

.menuItem__rightCol {
  background: var(--color-container);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.menuItem__title {
  background: var(--color-container);
  font-family: var(--font-anton);
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-text);
}

.menuItem__desc {
  background: var(--color-container);
  font-family: var(--font-roboto);
  margin-top: 0.15rem 0 0 0;
  font-size: 0.9rem;
  color: var(--color-text);
}

.menuItem__price {
  background: var(--color-container);
  font-family: var(--font-anton);
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.menuItem__qty {
  background: var(--color-container);
  font-family: var(--font-anton);
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.menuItem__qtyBtn {
  background: var(--color-container);
  width: 32px;
  height: 32px;
  color: var(--color-text);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem__qtyBtn svg {
  background: var(--color-container);
  width: 28px;
  height: 28px;
  stroke: var(--color-text);
}

.menuItem__qtyNumber {
  background: var(--color-container);
  font-size: 1rem;
  font-weight: 600;
  width: 1.5rem;
  text-align: center;
}
