.menuPage {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem;
  box-sizing: border-box;
}

.menuGrid {
  background: var(--color-container);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  margin-top: 1.5rem;
}

.cart-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.cart-button .button_medium {
  width: auto;
}

@media (max-width: 800px) {
  .menuGrid {
    grid-template-columns: 1fr;
  }
  .cart-button {
    justify-content: center;
  }

  .filterMenu button:nth-child(2) {
    display: none;
  }

  .filterMenu button:nth-child(3) {
    display: none;
  }

  .filterMenu button:nth-child(4) {
    display: none;
  }

  .filterMenu {
    flex-wrap: nowrap;
  }

  .cart-button {
    margin-bottom: 2rem;
  }
}