.menuPage {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #d64541;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem;
  box-sizing: border-box;
}

.menuPage__contentPlaceholder {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #333333;
}
