.cart-layout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  padding-right: 3rem;
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.logo {
  font-family: var(--font-bagel);
  color: var(--color-container);
  font-size: clamp(4rem, 8vw, 6rem);
  text-transform: uppercase;
  padding-left: 2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.cart-button-wrapper {
  width: auto;
  align-self: center;
}

.cart-total {
  background-color: var(--color-container);
  color: var(--color-text);
  text-align: right;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.empty-cart {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: var(--color-text);
}

@media (max-width: 678px) {
  .cart-logo {
    display: none;
  }

  .cart-layout {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}