org: ${env:ORG}
service: backend

plugins:
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1

  iam:
    role: ${env:ROLE}
    
  environment:
    ROLE: ${env:ROLE}
    ORG: ${env:ORG}
    MENU_TABLE: menu
    STOCK_TABLE: stock
    ORDERS_TABLE: orders
    API_KEY: ${ssm:/nachoproblem/API_KEY}
    JWT_KEY: ${ssm:/nachoproblem/JWT_KEY}

build:
  esbuild:
    bundle: true  
    minify: true

package:
  individually: true

functions:
  getMenu:
    handler: menu/get-menu.handler
    events:
      - httpApi:
          path: /menu
          method: get

  # updateMenuItem:
  #   handler: menu/update-menu-item.mts
  #   events:
  #     - httpApi:
  #         path: /menu/{id}
  #         method: put

  createOrder:
    handler: orders/create-order.mts
    events:
      - httpApi:
          path: /orders
          method: post


  getOrders:
    handler: orders/get-orders.mts
    events:
      - httpApi:
          path: /orders
          method: get
          
  # updateOrder:
  #   handler: orders/update-order.mts
  #   events:
  #     - httpApi:
  #         path: /orders/{id}
  #         method: put

  resources:
  Resources:
    BookingsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: orders
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        GlobalSecondaryIndexes:
          # - IndexName: entityIndex
          #   KeySchema:
          #     - AttributeName: entityType
          #       KeyType: HASH
          #     - AttributeName: checkIn
          #       KeyType: RANGE
          #   Projection:
          #     ProjectionType: ALL
