.hero{
    position: relative;
}

.hero__heading{
    font-family: var(--font-bagel);
    color: var(--color-container);
    font-size: clamp(4rem, 8vw, 6rem);
    text-transform: uppercase;
    padding-left: 2rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.hero__text{
    text-transform: uppercase;
    padding-left: 2rem;
    color: var(--color-text);
    font-size: 25px;
}

.hero__logo{
    position: absolute;
    background: none;
}

.hero__img{
    width: 80px;
    background: none;
    transform: rotate(320deg);
}

@media (max-width: 1000px){
    .hero__img{
        display: none;
    }
}

@media (max-width: 450px){
    .hero{
        margin-top: 6rem;
    }
    .hero__img{
        display: block;
        width: 60px;
    }
}