.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center;       */
}

.hero > img {
    width: 100%;
    height: auto;
    min-height: 200px;       
    object-fit: contain;     
}

.hero > button {
    margin-left: 3rem;
}

@media (max-width: 550px) {
    .hero {
        align-items: center;
    }
    .hero > button {
        margin-left: 0;
    }
}