.ordersPage {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem;
  box-sizing: border-box;
}
