.login-form {
    display: flex;
    align-items: center;
}

.login-form input {
    padding: 5px;
    border: 1px solid var(--color-text);
    background: transparent;
    outline: none;
}

::placeholder {
    color: var(--color-text);
}

.login-form button {
    padding: 5px 10px;
    border: 1px solid var(--color-text);
    background-color: var(--color-button);
    color: var(--color-container);
}

.login-form button:hover {
    background-color: var(--color-active);
    color: var(--color-text);
}
