.home-page {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    min-height: 400px;   /* hindrar hero från att bli för liten */
}

.hero-section{
    width: 100%;
}

.click-container{
    cursor: pointer;
}

.click-container:hover{
    transform: scale(1.02);
    transition: 0.2s;
}

.home-page .button {
    margin-left: 2rem;
    height: 60px;
}

@media (max-width: 1000px) {
    .home-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}

@media (max-width: 700px) {
    .hero {
        width: 100%;
    }

    .best-sellers {
        display: none;
    }
}