.button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #3D5B36;
  box-shadow: -5px 5px 1px #4A2E1F;
  border-radius: 40px;
  color: #F7F1E3;
  font-family: "Bagel Fat One", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.button_small {
  padding: 8px 22px;
  font-size: 20px;
  height: 40px;
  line-height: 20px;
}

.button_medium {
  width: 100%;
  padding: 24px 40px;
  font-size: 20px;
}

.button_large {
  width: 100%;
  padding: 24px 40px;
  font-size: 30px;
}
