.confirmationPage {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
  background: var(--color-background-red);
}

.confirmationPage .container {
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .confirmationPage {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .confirmationPage .container {
    max-width: 100%;
  }

  .receiptContainer {
    order: 2;
  }

  .confirmationPage .container {
    order: 1;
  }
}
