.payment-page {
  display: flex;
  padding: 2rem;
  font-family: Roboto, sans-serif;
  max-height: 100vh;
}

.payment-page__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.payment-page__logo {
    font-family: var(--font-bagel);
    color: var(--color-container);
    font-size: clamp(4rem, 8vw, 6rem);
    text-transform: uppercase;
    padding-left: 2rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.payment-page__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.payment-page__buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  max-height: 3vh;
  margin-bottom: 0.5rem;
}

@media (max-width: 1000px){
  .payment-page__content {
    width: 100%;
  }

  .payment-page__logo {
    display: none;
  }
}
