.payment-page {
    display: flex;
    padding: 2rem;
    font-family: Roboto, sans-serif;
}

.payment-page__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.payment-page__logo {
  font-family: "Bagel Fat One", sans-serif;
  font-size: 5rem;
  color: #F7F1E3;
  line-height: 1;
  margin: 0;

}

.payment-page__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.payment-page__buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
}
