.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-logo img {
    height: 50px;
    width: auto;
    cursor: pointer;
    margin: 0.5rem;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-links a {
    color: var(--color-container);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    padding-bottom: 2px;
}

.navbar-links a.active {
    border-bottom: 1.5px solid var(--color-container);
}

.navbar-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
}

.navbar-cart svg {
    width: 28px;
    height: 28px;
    color: var(--color-container);
}

.navbar-hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-container);
}

.mobile-bottom-nav {
    display: none;
}

@media (max-width: 768px) {
    .navbar-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 90%;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        display: none;
        text-align: center;
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-hamburger {
        display: block;
    }

    .navbar-cart {
        order: 3;
    }

    .mobile-bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        
        height: 60px;
        border: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #3D5B36;
        box-shadow: -0.3rem 0.3rem 0.1rem #4A2E1F;
        border-radius: 2.5rem;
        color: #F7F1E3;
        font-family: "Bagel Fat One", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.03rem;

        width: 95%;
        font-size: 1.25rem;
        padding: 1rem 2.5rem;
        margin-bottom: 1rem;
        margin-left: 0.8rem;
    }

    .mobile-nav-item {
        flex: 1;
        text-align: center;
        color: var(--color-container);
        font-size: 0.95rem;
        text-decoration: none;
    }

    .mobile-nav-item svg {
        width: 26px;
        height: 26px;
    }

    .navbar-cart {
        display: none;
    }
}