.adminStockPage {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}

.adminStockPage__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-anton);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 0.9rem;
  color: var(--color-text);
}

.adminStockPage__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
