/* Need to add font */

.filterOrders {
  background: var(--color-container);
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filterOrders__button {
  padding: 0.5rem 1.5rem;
  background: var(--color-button);
  border-radius: 999px;
  border: none;
  cursor: pointer;
  color: var(--color-container);
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  font-family: var(--font-bagel);
  font-weight: 400;
  box-shadow: -4px 4px 0 #222222; /* test colour for now */
  transition: transform 0.1s;
}

.filterOrders__button--active {
  background: var(--color-active);
  box-shadow: -4px 4px 0 #222222; /* test */
  color: var(--color-text);
}

.filterOrders__button:active {
  transform: translateY(2px);
}

.filterOrders__button:hover {
  opacity: 0.9;
}
